:root {
  --margin-right: 20vw;
  --heading-font-size: 4rem;
}


#compareContainer {
  padding-top: 10vh;
  top: 20vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.compareContents {
  width: 80vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  background-color: var(--palewhite);
}

#searchPlans {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: first baseline;
}


.fattext {
  font-size: 1.5rem;
  color: var(--tertiary);
  font-weight: 600;
}

#searchSpan {
  color: var(--primary);
  font-size: var(--heading-font-size);
}

#planSpan {
  margin-left: 0.5vw;
  color: var(--secondary);
  font-size: var(--heading-font-size);
}

#datafieldLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  justify-content: space-around;
  align-items: flex-start;
}

#datafieldLeft input[type="text"],
#datafieldRight input[type="text"] {
  border: none;
  padding: 0.5vw;
  border-radius: 0.5vw;
  width: 80%;
}

#datafieldRight {
  width: 50%;
  gap: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

span#type,
span#gender,
span#term {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin-bottom: 2vw;
  color: var(--secondaryA);
  font-weight: bold;
}

span#gender::before {
  content: "Gender";
}

span#term::before {
  content: "Term";
}

span#type::before {
  content: "Type(optional)";
}

span#gender::before,
span#type::before,
span#term::before {
  position: absolute;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  transform: translateY(-100%);
  color: var(--tertiary);
}

input[type="radio"] {
  margin-right: 0.5vw;
}

#chooseBreak {
  height: 0.1px;
  width: 100vw;
}

div.surrounddatafields {
  display: flex;
  flex-direction: row;
}

#contentChoose {
  width: 30%;
  height: 10vh;
  background-color: var(--palewhite);
  border-radius: 0.5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--secondary);
  position: relative;
}

#contentChoose div {
  min-width: fit-content;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  font-weight: bold;
  position: relative;
}

#contentChoose #selectPanel {
  height: 70%;
  width: 33%;
  border-radius: 0.5vw;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  z-index: 0;
}

#contentChoose #contentChooseCurrent {
  color: var(--palewhite);
}

#contentChooseContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--primary);
}

.comparisonView {
  display: flex;
}

#majorView {
  /* position: fixed;
  top: 0%;
  right: 0%;
  z-index: 2; */
  flex: 1;
  background-color: var(--palewhite);
  border-radius: 1vw;
  padding-bottom: 13vh;
  padding-left: 5vh;
  padding-top: 13vh;
  font-weight: 500;
  color: var(--secondary);
  /* overflow-y: scroll; */
}

#AddonAccept {
  background-color: var(--secondary);
  border: none;
  padding: 2vh;
  margin: 1vh;
  border-radius: 1vw;
  color: var(--palewhite);
  font-weight: 900;
  font-size: 1.5vw;
  cursor: pointer;
}

.addonsNamesFree {
  /* padding: 1.4vw; */
  /* padding-top: 0.4rem; */
  /* padding-bottom: 0.4rem; */
  /* background-color: var(--secondaryA); */
  color: var(--secondary);
  /* border-radius: 2rem; */
  /* transition: 0.3s ease; */
  /* width: fit-content; */
  /* margin: 2vh 0vh; */
}


.addonsNamesPaid::after {
  content: "$ Paid";
  font-size: 0.7rem;
  margin-left: 0.5rem;
  font-weight: bold;
  border-radius: 2rem;
  padding: 0.5rem;
}

.addonsNamesPaid {
  /* padding: 1.4vw; */
  /* padding-top: 0.4rem; */
  /* padding-bottom: 0.4rem; */
  /* background-color: var(--secondary); */
  color: var(--secondary);
  /* border-radius: 2rem; */
  /* transition: 0.3s ease; */
  /* width: fit-content; */
  /* margin: 2vh 0vh; */
}

.filterAddons input {
  display: none;
}

.filterAddons label {
  padding: 0.5vh;
  transition: 0.2s ease-in-out;
  border-radius: 0.5vw;
}

.filterAddons label:hover {
  background-color: var(--primary);
  color: var(--palewhite);
}

.filterAddons input:checked+label {
  background-color: var(--secondary);
  padding: 1.0vh;
  margin: 0.5vh;
  color: var(--palewhite);
}

.filterAddons {
  border-left: 1px solid var(--light);
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

#filterinfoicon {
  font-size: 1rem;
  color: var(--tertiary);
  opacity: 0.5;
  font-weight: 600;
  padding-left: 1vw;
}

#filterinfoicon:hover span#filterinfo {
  opacity: 1;
}

#filterinfoicon span#filterinfo {
  opacity: 0;
  padding-left: 0.5vw;
  transition: 0.2s ease-in-out;
}

.filterAddons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.cardAddons {
  font-size: 1.4rem;
  font-weight: bold;
  width: fit-content;
  display: inline-block;
  margin-top: 2rem;
  margin-left: 0rem;
  color: var(--secondary);
  transition: 0.2s ease;
}

.cardAddons:hover .cardAddonsContent {
  height: auto;
  padding-top: 2vw;
  opacity: 1;
}

.cardAddonsContent {
  font-size: 1rem;
  height: 0;
  opacity: 0;
  width: 100%;
  border-radius: 1vw;
  transition: 0.3s ease;
  z-index: 3;
  overflow: hidden;
}

.cardDetails:hover .cardDetailsContent {
  height: auto;
  padding-top: 2vw;
  opacity: 1;
}

.cardDetails {
  font-size: 1.4rem;
  font-weight: bold;
  width: fit-content;
  display: inline-block;
  margin-top: 2rem;
  margin-left: 0rem;
  color: var(--secondary);
  transition: 0.2s ease;
}

.cardDetailsContent {
  font-size: 1rem;
  height: 0;
  opacity: 0;
  width: 100%;
  border-radius: 1vw;
  transition: 0.3s ease;
  z-index: 3;
  overflow: hidden;
}

.cardAddonsTopic {
  padding: 1vh;
  width: fit-content;
  border-radius: 1vw;
  background-color: var(--palewhiteA);
}

.cardDetailsTopic {
  padding: 1vh;
  width: fit-content;
  border-radius: 1vw;
  background-color: var(--palewhiteA);
}

.filteredPolicies {
  margin: 0.2vw;
  padding: 3vw;
  border-radius: 2vw;
  width: 70%;
  background-color: var(--secondaryA);
  position: relative;
  color: var(--secondary);
}

#policyCards {
  flex: 3;
  padding-top: 14vh;
  padding-left: 10vh;
}

.cardscompany {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.cardPolicyDetails {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--secondary);
}

.cardPolicyDetails::before {
  content: "ⓘ ";
}

.cardPolicyId {
  top: 0;
  left: 0;
  font-size: 1.0rem;
  padding: 1.4vw;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: var(--palewhite);
  font-weight: bold;
  background-color: var(--secondary);
  border-radius: 2rem;
  display: inline-block;
  margin: 0vh 2vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 2000px var(--secondaryA);
}

.cardPolicyId::before {
  content: "ID:";
  font-size: 0.7rem;
  margin-right: 1rem;
  opacity: 0.7;
}


.cardCost {
  display: inline-block;
}

.cardAddonCost,
.cardPremiumCost {
  min-width: 5rem;
  position: relative;
  color: var(--palewhite);
  padding: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  margin-top: 2rem;
  font-weight: bold;
  border-radius: 1.5vh;
  display: inline-block;
  background: linear-gradient(to right, var(--green), var(--secondary), var(--primary));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 2000px var(--secondaryA);
}

.cardAddonCost::after,
.cardPremiumCost::after {
  content: "Rs.";
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  border-radius: 50%;
  background-color: var(--green);
  padding: 0.5rem;
}

.cardAddonCost {
  margin: auto 0.5vw;
}

.cardPremiumCost {
  margin: auto 0.5vw;
}

.cardPremiumCost::before {
  content: "Premium: ";
  font-size: 0.8em;
  transform: translateY(-100%);
  position: absolute;
  opacity: 0.6;
}

.cardAddonCost::before {
  content: "Premium: ";
  font-size: 0.8em;
  transform: translateY(-100%);
  position: absolute;
  opacity: 0.6;
}

.cardAddonCost::before {
  content: "Addon: ";
  font-size: 0.8em;
  opacity: 0.6;
}


.cardCSR {
  padding: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  display: inline-block;
  color: var(--tertiary);
  font-size: 1rem;
  font-weight: bold;
  margin: auto 0.5vw;
  border-radius: 1.5vh;
  background: var(--green);
  color: var(--palewhite);
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 2000px var(--secondaryA);
}

.cardCSR::before {
  content: "CSR: ";
  transform: translateY(-100%);
  font-size: 0.7rem;
  opacity: 0.7;
  position: absolute;
}

.cardCompanyName {
  padding: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  display: inline-block;
  color: var(--tertiary);
  font-size: 1rem;
  font-weight: bold;
  margin: auto 0.5vw;
  border-radius: 1.5vh;
  background: var(--green);
  color: var(--palewhite);
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 2000px var(--secondaryA);
}

.cardCompanyName::before {
  content: "Company: ";
  transform: translateY(-100%);
  font-size: 0.7rem;
  opacity: 0.7;
  position: absolute;
}


.cardCsr::after {
  content: "%";
}
